@use "./var.scss" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $dark-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}


button {
  cursor: pointer;
}
