@use "./var.scss" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $dark-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}


button {
  cursor: pointer;
}

.button_add {
  .button_add-img {
    width: 20px;
    height: 20px;
    background-image: url("../img/add-button-default.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    .button_add-img {
      background-image: url("../img/add-button-active.svg");
    }
  }
}

.error_message {
  color: $red-color;
  font-size: 12px;
  margin-top: 4px;
}




